@import "reset";

$lpc: 1680px; //画面広いPC
$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px; // スマホ

@mixin lpc {
  @media (max-width: ($lpc)) {
    @content;
  }
}
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin btn {
  color: #fff;
  background-color: #1b95e0;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  box-sizing: border-box;
  animation: slidein 1.5s forwards;
}

@mixin btn-hover {
  color: #20a1f1;
  background: #ffffff;
  border: 1px solid #20a1f1;
  transition: 0.3s ease;
  cursor: pointer;
}

//*------------------*
//*  header
//*------------------*
.header {
  width: 100%;
  margin: 0 auto;
  padding: 1% 2vw;
  box-sizing: border-box;

  &__link {
    width: 90%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ttl {
    font-size: 1rem;
    color: #0f4c83;
  }
}

//ナビゲーション
.nav {
  margin-left: auto;
  @include sp {
    display: none;
  }
  &__list {
    display: inline-block;
    margin-right: 1vw;
  }

  &__list a {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f4c83;
    padding-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
  }

  &__list a::before {
    font-size: 20px;
    line-height: 3em;
    font-weight: 600;
    border-bottom: solid 2px #46a4da;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }

  &__list a::before {
    left: 0%;
  }

  &__list a:hover::before {
    width: 100%;
  }
}

//------------ここからhamburgerメニュー----------------->
//スマホのナビゲーション(ハンバーガーメニュー)
//ハンバーガーの部分
.hamburger-btn {
  display: none;

  @include sp {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
}
.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #111;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.hamburger-btn__parts {
  &.-top {
    top: 0;
  }

  &.-middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &.-bottom {
    bottom: 0;
  }
}

//タップ後のハンバーガー
//１つ目のspanを-45度にする
.hamburger-btn.active {
  .hamburger-btn__parts {
    &.-top {
      transform: translateY(10px) rotate(-45deg);
    }

    //2つ目のspanを消す
    &.-middle {
      opacity: 0;
    }

    //3番目のspanを45度に
    &.-bottom {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

//スライドメニュー
.hamburger {
  display: none;

  @include sp {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    transition: all 0.3s;
    background-color: #fff;

    &__lists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }

    &__list {
      @include sp;
      list-style: none;
      text-align: center;
    }

    &__list + &__list {
      padding-top: 50px;
    }

    &__link {
      text-decoration: none;
      color: #0f4c83;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
//activeクラスをつけたら、スライドイン
.hamburger.active {
  transform: translateX(0);
}

//------------//ここまでhamburgerメニュー------------------>

// .details {
//   display: flex;
//   justify-content: space-around;

//   &__l {
//     display: flex;
//   }

//   &__img {
//     width: 60px;
//   }

//   &__ttl {
//     font-size: 20px;
//     line-height: 3em;
//     margin-left: 10px;
//     font-weight: 600;
//   }
// }

.fa-twitter:before {
  padding: 0 3px;
}

.mv {
  background: linear-gradient(to bottom, #0f4c83 95%, #fff);
  height: 80vh;
  @include sp {
    height: 34vh;
    margin-bottom: 30px;
  }

  &__inner {
    width: 100%;
    max-width: 1280px;
    padding-top: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 600px;
    @include sp {
      height: 100%;
    }
  }

  &__twitter-btn {
    @include btn;
    display: inline-block;
    height: 25px;
    padding: 1px 8px 1px 6px;
    margin-top: 25px;
    position: absolute;
    bottom: 20%;
    left: 30%;
  }

  &__twitter-follow-btn a {
    font-size: 1rem !important;
  }

  &__img {
    position: absolute;
    width: 35%;
    left: 16%;
    right: 0;
    @include sp {
      width: 50%;
      left: 2%;
    }
  }

  &__r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10em;
  }

  &__txt {
    font-size: 5rem;
    content: "";
    // align-items: center;
    animation: slidein 2s ease forwards;
    opacity: 0;
    color: #fff;

    @include sp {
      width: unset;
      font-size: 1.7rem;
      right: 0.3em;
      top: 10px;
    }
  }

  &__txt01 {
    animation-delay: 1s;
  }

  &__txt02 {
    animation-delay: 2.5s;
  }
}

section {
  padding: 80px 0;

  @include sp {
    padding: 0;
    margin-bottom: 30px;
  }
}

.sect {
  &__inner {
    width: clamp(320px, 75vw, 1024px);
    margin: 0 auto;

    @include sp {
      margin: 0;
    }
  }

  &__ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;

    @include sp {
      font-size: 1.5rem;
      padding-left: 10px;
    }

    &-cont {
      display: flex;
      vertical-align: middle;
      text-align-last: left;
      padding-bottom: 50px;
      color: #0f4c83;

      @include sp {
        padding: 0;
        font-size: 1rem;
        padding-bottom: 0;
      }
    }

    &-sub {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 4.5;
      padding-left: 130px;
      position: relative;

      @include sp {
        padding-left: 10px;
        line-height: 2.5;
      }
    }
    /*見出し横線ここから*/
    &-sub::after {
      width: 100px;
      height: 1px;
      background: #0f4c83;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 20px;

      @include sp {
        display: none;
      }
    }
    /*見出し横線ここまで*/
  }
}

/*Introducion*/
.introduction {
  padding: 50px 0;
  @include sp {
    padding: 0;
  }
}

.intro__cont {
  display: flex;
  @include sp {
    flex-direction: column-reverse;
  }

  &-txt_main {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    color: #0f4c83;

    @include sp {
      font-size: 1.3rem;
      padding: 10px 3px;
      text-align: center;
    }
  }

  &-txt_sub {
    font-size: 1.125rem;
    line-height: 2.5;
    padding: 1em 2em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;

    @include sp {
      font-size: 1rem;
      margin: 0 0.5em;
      line-height: 2;
    }
  }

  &-mv_txt {
    font-size: 1.4rem;
    font-weight: bold;
    animation-delay: 4s;
    color: #0f4c83;
    text-align: center;
    letter-spacing: 0.8em;

    @include sp {
      right: 1.5em;
      top: 8px;
      font-size: 1rem;
    }
  }

  @keyframes slidein {
    0% {
      opacity: 0;
      transform: translateX(64px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &-mv iframe {
    @include sp {
      max-width: 100%;
    }
  }
}

/*career*/
.career {
  @include sp {
    height: 230vh;
  }

  &__cont {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &-l {
      display: flex;

      @include sp {
        display: none;
      }
    }

    &-l_txt {
      font-size: 1.2rem;
      letter-spacing: 0.8em;
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: #3594cb;
    }

    &-img {
      width: 100%;
      max-width: 300px;
      object-fit: cover;
    }
  }
}

/*タイムラインここから*/
.cbp_tmtimeline {
  width: 100%;
  max-width: 600px;
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
  position: relative;

  @include sp {
    margin: 0 50px;
  }

  /* The line */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
  }

  & > li {
    position: relative;
  }

  /* The date/time */
  & > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
  }

  & > li .cbp_tmtime span {
    display: block;
  }

  & > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
    text-align: left;
    margin-right: 50px;
    font-weight: bold;
  }

  & > li .cbp_tmtime span:last-child {
    font-size: 1em;
    color: #abc3d1;
    margin-right: 50px;
    font-weight: bold;
  }

  & > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
    font-weight: bold;
    margin-right: 55px;
  }

  /* Right content */
  & > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
  }

  & > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
  }

  & > li .cbp_tmlabel h3 {
    margin-top: 0px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  /* The triangle */
  & > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
  }

  & > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
  }

  /* The icons */
  & > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: "ecoico";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
  }

  @media screen and (max-width: 47.2em) {
    &:before {
      display: none;
    }

    & > li .cbp_tmtime {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0;
    }

    & > li .cbp_tmtime span {
      text-align: left;
    }

    & > li .cbp_tmlabel {
      margin: 0 0 30px 0;
      padding: 1em;
      font-weight: 400;
      font-size: 95%;
    }

    & > li .cbp_tmlabel:after {
      right: auto;
      left: 20px;
      border-right-color: transparent;
      border-bottom-color: #3594cb;
      top: -20px;
    }

    & > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: transparent;
      border-bottom-color: #6cbfee;
    }

    & > li .cbp_tmicon {
      position: relative;
      opacity: 0;
      float: right;
      left: auto;
      margin: -55px 5px 0 0px;
    }
  }
}
/*timeline*/

/*skill*/
.skill {
  /*共通パート*/
  &__item {
    height: 320px;

    @include sp {
      height: 260px;
      padding-bottom: 7px;
      background: linear-gradient(
          -45deg,
          transparent 25%,
          #aaa 25%,
          #aaa 50%,
          transparent 50%,
          transparent 75%,
          #aaa 75%
        )
        left bottom/7px 7px repeat-X;
    }
  }

  &__item::before {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 45%);
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    z-index: 2;

    @include sp {
      height: 260px;
      width: 100%;
    }
  }

  &__item::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 320px;
    content: "";
    z-index: 1;

    @include sp {
      height: unset;
    }
  }

  &__pro-list {
    font-size: 2rem;
    position: absolute;
    top: 13%;
    left: 3%;

    @include sp {
      width: 100vw;
      font-size: 1rem;
      text-align: center;
      z-index: 2;
      background: #fff;
      top: 25%;
      left: 0%;
      padding: 10px;
      border-radius: 5px;
    }
  }

  &__name {
    font-size: 6rem;
    display: inline-block;
    z-index: 2;
    position: absolute;
    color: #f4f4f4;
    text-shadow: black 3px 3px 5px;

    @include sp {
      font-size: 2rem;
    }
  }
  /*programming part*/
  &__name-pro {
    right: 4%;
    top: 25%;

    @include sp {
      font-size: 2rem;
      top: 0%;
      right: 24%;
    }
  }

  &__name-blog {
    top: 25%;
    right: 17%;
    @include sp {
      top: 0;
      right: 41%;
    }
  }

  &__txt {
    color: #3594cb;
  }

  &__txt-pro01 {
    padding-left: 118px;
    padding-bottom: 20px;
    font-weight: bold;

    @include sp {
      padding-left: 0;
      padding-bottom: 10px;
    }
  }

  &__txt-pro02 {
    font-size: 1.5rem;
    padding-left: 160px;

    @include sp {
      padding-left: 0px;
      font-size: 1rem;
    }
  }

  &__txt-pro03 {
    font-size: 1.5rem;
    padding-left: 230px;
    @include sp {
      font-size: 1rem;
      padding-left: 0;
    }
  }

  &__txt-pro04 {
    font-size: 1.5rem;
    padding-left: 100px;

    @include sp {
      font-size: 1rem;
      padding-left: 0;
    }
  }

  &__btn {
    z-index: 2;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    position: absolute;
    transition: 0.3s ease;
  }

  &__btn:hover {
    @include btn-hover();
  }

  &__btn-pro {
    left: 18%;
  }

  &__pro-btn {
    @include btn;
    font-size: 1.3rem;
    padding: 10px;
    bottom: 15%;
    left: 19%;
    position: absolute;

    @include sp {
      font-size: 1.5rem;
      left: 27%;
      z-index: 2;
      bottom: 8%;
    }
  }

  &__pro-btn:hover {
    @include btn-hover();
  }

  /*Marketing part*/
  &__item-market {
    @include sp {
      height: 320px;
    }
  }
  &__item-market::before {
    @include sp {
      height: 320px;
    }
  }

  &__name-market {
    left: 10%;
    top: 25%;

    @include sp {
      font-size: 2rem;
      top: 0;
      left: 31%;
    }
  }

  &__market-txt_ttl {
    position: absolute;
    top: 10%;
    right: 18%;
    font-size: 2rem;
    color: #3594cb;

    @include sp {
      font-size: 1rem;
      background: #ffffff;
      top: 18%;
      right: 38%;
      z-index: 2;
    }
  }

  &__market-list {
    display: flex;
    width: 100%;
    max-width: 200px;
  }

  &__market-item img {
    position: absolute;

    @include sp {
      z-index: 2;
      background: #ffffff;
    }
  }

  &__market-item_expert {
    width: 100%;
    max-width: 150px;
    top: 33%;
    right: 35%;

    @include sp {
      max-width: 100px;
      top: 53%;
      left: 11%;
    }
  }

  &__market-item_analytics {
    width: 100%;
    max-width: 270px;
    top: 48%;
    right: 15%;

    @include sp {
      max-width: 250px;
      top: 30%;
      right: 10%;
    }
  }

  &__market-item_riskmanagement {
    width: 100%;
    max-width: 150px;
    top: 33%;
    right: 3%;

    @include sp {
      max-width: 100px;
      top: 53%;
      right: 10%;
    }
  }

  /*blog part*/
  &__blog-txt {
    position: absolute;
    font-size: 1.5rem;
    top: 15%;
    left: 4%;
    display: block;
    text-align: center;

    @include sp {
      background: #ffffff;
      border-radius: 5px;
      font-size: 1rem;
      left: 0;
      padding: 0.5em;
      z-index: 2;
    }
  }

  &__blog-txt p:first-child {
    font-size: 2rem;
    font-weight: bold;

    @include sp {
      font-size: 1rem;
    }
  }

  &__blog-txt_web {
    font-size: 1.5rem;
    padding-top: 10px;

    @include sp {
      text-align: center;
      padding: 5px;
      font-size: 1rem;
    }
  }

  &__blog-txt_web a {
    font-weight: bold;
    border-bottom: 1px solid #3594cb;
  }

  &__blog-txt_web a:hover {
    color: #20a1f1;
    border-bottom-color: #fff;
  }

  &__blog-btn {
    @include btn;
    font-size: 1.3rem;
    position: absolute;
    bottom: 10%;
    left: 18%;

    @include sp {
      font-size: 1.5rem;
      left: 18%;
      bottom: 8%;
    }
  }

  &__blog-btn::after {
    content: "";
    background: url(../img/skill/blog.jpg);
    width: 100%;
    max-width: 10px;
  }
}

#programming {
  position: relative;
  @include sp {
  }
  &::before {
    opacity: 0.7;
    background-image: url(../img/skill/mainimg/programming.jpg);
    clip-path: polygon(
      18% 0%,
      70% 0,
      100% 0,
      100% 100%,
      40% 100%,
      70% 100%,
      0 100%
    );

    @include sp {
      clip-path: polygon(
        0% 0%,
        70% 0,
        100% 0,
        100% 100%,
        40% 100%,
        70% 100%,
        0 100%
      );
    }
  }

  &::after {
    background: #f4f4f4;
    z-index: -999;
  }
}

#marketing {
  position: relative;

  &::before {
    left: 0;
    opacity: 0.7;
    background-image: url(../img/skill/mainimg/marketing.jpg);
    clip-path: polygon(
      0 0,
      30% 0,
      82% 0,
      100% 100%,
      70% 100%,
      30% 100%,
      0 100%
    );

    @include sp {
      clip-path: polygon(
        0 0,
        30% 0,
        100% 0,
        100% 100%,
        70% 100%,
        30% 100%,
        0 100%
      );
    }
  }

  &::after {
    background: #fff;
    z-index: -999;
  }
}

#blog {
  position: relative;

  &::before {
    opacity: 0.7;
    background-image: url(../img/skill/mainimg/blog.jpg);
    clip-path: polygon(
      18% 0%,
      70% 0,
      100% 0,
      100% 100%,
      40% 100%,
      70% 100%,
      0 100%
    );

    @include sp {
      clip-path: polygon(
        0% 0%,
        70% 0,
        100% 0,
        100% 100%,
        40% 100%,
        70% 100%,
        0 100%
      );
    }
  }

  &::after {
    background: #f4f4f4;
    z-index: -999;
  }
}

/*モーダルここから*/
.modal {
  &__window-container {
    width: 100%;
    margin: 0 auto;
  }

  &__window-slide {
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow: auto;
  }

  &__window-item {
    scroll-snap-align: center;
    display: inline-block;
    white-space: normal;
    width: 90%;
    height: 710px;
    margin: 20px 0 0 0;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;

    @include sp {
      height: 88vh;
      overflow: auto;
      padding: 0 5px;
    }
  }

  &__window-item h2 {
    font-size: 2.5rem;

    @include sp {
      font-size: 1.5rem;
    }
  }

  &__scroll-down {
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #111;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    transform: rotate(-90deg);
  }

  &__scroll-down::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #111;
  }

  &__scroll-down::after {
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
  @keyframes sdl {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }

  &-content {
    display: flex;
    justify-content: space-evenly;
  }

  &__txt {
    font-size: 1.2rem;
    width: 70%;
    text-align: left;

    @include sp {
      font-size: 0.7rem;
      width: 100%;
    }
  }

  &__txt > ul > li {
    padding-bottom: 15px;
  }

  &__txt > ul > li span {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid #111;
    cursor: pointer;
  }

  &__txt > ul > li > h3 {
    @include sp {
      font-size: 0.8rem;
    }
  }

  &__window-img img {
    display: block;
    width: 100%;
    max-width: 150px;
    object-fit: contain;
  }

  &__window-img_01 img {
    max-width: 135px;
  }

  &__window-img_03 img {
    max-width: 190px;
  }

  &__window-img img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  &__btn-close {
    font-size: 2rem;
    border-radius: 50%;
    border: 1px solid #111;
    padding: 0 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &__btn-close:hover {
    background: #20a1f1;
    color: #fff;
  }
}

/* === モーダル非表示（初期） ============================== */
.modal__nodisp {
  display: none;
}

/* === モーダルバックグランド ============================== */
.modalBg {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 10;
}

/* === モーダルバックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
  animation: bgOpenAnime 0.3s ease;
}
@keyframes bgOpenAnime {
  /* フェードイン */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* === モーダルバックグランド：CLOSE時のアニメーション ===== */
.modalBgClose {
  bottom: 100%;
  animation: bgCloseAnime 0.3s ease;
}
@keyframes bgCloseAnime {
  /* フェードイン */
  0% {
    opacity: 1;
    bottom: 0;
  }
  100% {
    opacity: 0;
    bottom: 0;
  }
}

/* === モーダルウインド ==================================== */
.modalBg .modal__window {
  /* モーダルウインドを中心に表示 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  /* ↓モーダルウインドウの見た目：変更してください */
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 16pt;
  text-align: center;
}
/*モーダルココまで*/

/*works*/
.works {
  &__item {
    position: relative;
    width: 50vw;
    margin: 0 auto;
    overflow: hidden;
  }

  &__item_txt {
    width: 50%;
    padding-right: 20px;
  }

  &__item_txt li {
    padding: 10px 0;
  }

  &__item img {
    width: 50vw;
    margin: 0 auto;
  }

  &__mask {
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  &__mask:hover {
    opacity: 1;
  }

  &__caption {
    height: 100%;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__caption-ttl {
    font-size: 5rem;
    @include sp {
      font-size: 2rem;
    }
  }

  &__caption-txt {
    font-size: 2rem;
    @include sp {
      font-size: 0.8rem;
    }
  }
}

/*subskill*/
.subskill {
  &__cont {
    font-size: 1.5rem;
    background: #1b95e0;
    color: #fff;

    @include sp {
      width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;

    @include sp {
      grid-template-columns: 1fr;
      font-size: 1rem;
      padding: 15px 0;
      text-align: center;
    }
  }

  &__item {
    text-align: center;
  }

  &__item span {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    @include sp {
      font-size: 1.5rem;
    }
  }
  &__item img {
    width: 100%;
    max-width: 150px;
  }
}

/*Q&A*/
.question {
  background: #f4f4f4;

  &__cp-qa *,
  &__cp-qa *:after,
  &__cp-qa *:before {
    font-family: "FontAwesome", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__cp-qa {
    @include sp {
      margin: 0 12px;
    }
  }

  & dl {
    width: 1000px;
    margin: 0 auto;

    @include sp {
      width: 100%;
      margin: 0 10px;
    }
  }

  &__cp-qa dt {
    position: relative;
    margin: 0 0 1.5em 0;
    font-weight: bold;
    font-size: 1.5rem;

    @include sp {
      font-size: 1rem;
    }
  }

  &__cp-qa dd {
    position: relative;
    margin: 0 0 2em 0;
    padding: 0 0 1.5em 2em;
    font-size: 1.3rem;
    border-bottom: 1px dotted #23a1f0;

    @include sp {
      font-size: 1rem;
      padding: 0 0 1.5em 0;
    }
  }

  &__cp-qa dt::before,
  &__cp-qa dd::before {
    font-size: 1em;
    margin: 0 0.5em 0 0;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.2em;
  }

  &__cp-qa dt::before {
    padding: 0.05em 0.22em;
    content: "Q";
    background: #8bd157;
  }

  &__cp-qa dd::before {
    padding: 0.08em 0.27em;
    content: "A";
    background: #23a1f0;
  }

  &__cp-qa dt::after,
  &__cp-qa dd::after {
    position: absolute;
    top: 0.5em;
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-width: 5px 0 5px 5px;
    border-style: solid;
  }

  &__cp-qa dt::after {
    left: 1.5em;
    border-color: transparent transparent transparent #8bd157;
  }

  &__cp-qa dd::after {
    left: 3.5em;
    border-color: transparent transparent transparent #23a1f0;

    @include sp {
      left: 1.4em;
    }
  }
}

/*form*/

.form__cont {
  &-img {
    position: relative;
    display: flex;
  }

  &-img::before,
  &-img::after {
    content: "";
    position: absolute;
    transform: rotate(-35deg);
    width: 200px;
    height: 50px;
    background-color: #fff;
    z-index: 1;
  }

  &-img::before {
    top: -20px;
    left: 170px;
    border-bottom: 1px solid #aaa;
  }

  &-img::after {
    bottom: -20px;
    right: 170px;
    border-top: 1px solid #aaa;
  }

  &-img img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  &-btn_interview {
    padding-top: 15px;
    margin-bottom: 50px;
    border: 10px dashed #0f4c83;

    @include sp {
      margin: 0 10px;
    }
  }

  &-btn_interview-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;

    @include sp {
      font-size: 1rem;
    }
  }

  &-btn {
    font-weight: bold;
  }

  &-btn_interview-icon {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
}

.interview__icon-mail button,
.interview__icon-line button {
  font-size: 1.5rem;
}

.interview__icon-mail:hover,
.interview__icon-line:hover {
  opacity: 0.7;
}

.interview__icon-line {
  margin-left: 12%;

  & button {
    line-height: 1.8;
  }

  & img {
    display: block;
    width: 100%;
    max-width: 200px;
    padding-top: 23px;

    @include sp {
      max-width: 140px;
      padding-top: 10px;
    }
  }
}

i.fa-envelope {
  display: block;
}

.icon-size {
  font-size: 6rem;

  @include sp {
    font-size: 4rem;
  }
}

.twitter__follow-btn {
  display: block;
  text-align: center;

  & a {
    @include btn;
    font-size: 1.3rem;
    display: inline-block;
    line-height: 2;
    height: auto;
    padding: 1px 8px 1px 6px;
    margin: 0 20px;
    @include sp {
      display: none;
    }
  }
}

/*footer*/
.footer {
  text-align: center;
}

.article {
  &__ttl {
    font-size: 3rem;
  }

  &__inner {
    padding: 60px 0;
    text-align: center;
  }

  &__heading {
    img {
      width: 75vw;
      margin-bottom: 50px;
    }
  }
  &__container {
    width: 50vw;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
  }

  &__txt-main {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
  }

  &__container p {
    line-height: 2em;
  }

  &__table {
    margin: 0 auto 50px;
    text-align: left;
    font-weight: bold;
    border-collapse: collapse;
  }

  &__table tr,
  &__table td {
    border: 1px solid black;
  }

  &__table td {
    padding: 10px;
  }

  &__item {
    margin-bottom: 50px;
  }
}

/*TOP*/
.js__scroll-fadein {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  &.is-fadein {
    visibility: visible;
    opacity: 1;
  }
}
/*--------------------------------
  arrow
--------------------------------*/
.arrow {
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 22px;
  padding: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    bottom: 15px;
    color: #fff;
    border: 1px solid #ffffff;
    background: #1b95e0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }

  &:before,
  &:after {
    content: "";
    width: 12px;
    height: 12px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 13px;
  }

  &:before {
    top: 11px;
  }

  &:after {
    top: 21px;
  }
}
