@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  /* プロジェクトによって変動 */
  color: #000;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1;
}

button {
  line-height: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*文字の大きさ*/
html {
  font-size: 62.5%;
  width: 100%;
  margin: 0 auto;
}

body {
  font-size: 1.6rem;
  /* 16px*/
  line-height: 2;
}

h1 {
  font-size: 36px;
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
  /* 24px~36pxで可変*/
  line-height: 1.3;
}

h2 {
  font-size: 24px;
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
  /* 20px~24pxで可変*/
  line-height: 1.3;
}

@media (min-width: 1200px) {
  /* 1200px以上*/
  h1 {
    font-size: 3.6rem;
    /* 36px*/
  }
  h2 {
    font-size: 2.4rem;
    /* 24px*/
  }
}

@media screen and (max-width: 640px) {
  /* 640px以下*/
  body {
    line-height: 2;
  }
  h1 {
    font-size: 2.4rem;
    /* 24px*/
  }
  h2 {
    font-size: 2rem;
    /* 20px*/
  }
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 1% 2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__link {
  width: 90%;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ttl {
  font-size: 3rem;
  color: #0f4c83;
}

.nav {
  margin-left: auto;
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: inline-block;
  margin-right: 1vw;
}

.nav__list a {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: #0f4c83;
  padding-bottom: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.nav__list a::before {
  font-size: 20px;
  line-height: 3em;
  font-weight: 600;
  border-bottom: solid 2px #46a4da;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0;
}

.nav__list a::before {
  left: 0%;
}

.nav__list a:hover::before {
  width: 100%;
}

.hamburger-btn {
  display: none;
}

@media (max-width: 480px) {
  .hamburger-btn {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
}

.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #111;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.hamburger-btn__parts.-top {
  top: 0;
}

.hamburger-btn__parts.-middle {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-btn__parts.-bottom {
  bottom: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-top {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.hamburger-btn.active .hamburger-btn__parts.-middle {
  opacity: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-bottom {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.hamburger {
  display: none;
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
  }
  .hamburger__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .hamburger__list {
    list-style: none;
    text-align: center;
  }
  .hamburger__list + .hamburger__list {
    padding-top: 50px;
  }
  .hamburger__link {
    text-decoration: none;
    color: #0f4c83;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.hamburger.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fa-twitter:before {
  padding: 0 3px;
}

.mv {
  min-height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, #0f4c83), to(#fff));
  background: linear-gradient(to bottom, #0f4c83 95%, #fff);
}

@media (max-width: 480px) {
  .mv {
    margin-bottom: 30px;
  }
}

.mv__inner {
  width: 85%;
  padding-top: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mv__l {
  width: 33%;
  height: 500px;
  background-image: url(../img/myface/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1680px) {
  .mv__l {
    width: 30%;
  }
}

.mv__l img {
  width: 100%;
  max-width: 450px;
}

.mv__r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv__twitter-btn {
  margin: 0 0 50px 50px;
  -webkit-animation: SlideIn 1.5s ease forwards;
          animation: SlideIn 1.5s ease forwards;
}

.mv__twitter-btn:hover {
  color: #20a1f1;
  background: #ffffff;
  border: 1px solid #20a1f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.mv__txt {
  font-size: 8rem;
  -webkit-animation: SlideIn 2s ease forwards;
          animation: SlideIn 2s ease forwards;
  color: #fff;
  opacity: 0;
}

@media (max-width: 480px) {
  .mv__txt {
    font-size: 1.7rem;
  }
}

.mv__txt01 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.mv__txt02 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    /*初期状態では透明に*/
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

section {
  padding: 80px 0;
}

@media (max-width: 480px) {
  section {
    padding: 0;
    margin-bottom: 30px;
  }
}

.sect__inner {
  width: clamp(320px, 85vw, 1250px);
  margin: 0 auto;
}

.sect__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  font-weight: bold;
  /*見出し横線ここから*/
  /*見出し横線ここまで*/
}

@media (max-width: 480px) {
  .sect__ttl {
    font-size: 3rem;
    padding-left: 10px;
  }
}

.sect__ttl-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  text-align-last: left;
  padding-bottom: 50px;
  color: #0f4c83;
}

@media (max-width: 480px) {
  .sect__ttl-cont {
    padding: 0;
    font-size: 1rem;
    padding-bottom: 0;
  }
}

.sect__ttl-sub {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 3;
  padding-left: 130px;
  position: relative;
}

@media (max-width: 480px) {
  .sect__ttl-sub {
    font-size: 1.5rem;
    padding-left: 10px;
    line-height: 2.5;
  }
}

.sect__ttl-sub::after {
  width: 100px;
  height: 1px;
  background: #0f4c83;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 20px;
}

@media (max-width: 480px) {
  .sect__ttl-sub::after {
    display: none;
  }
}

/*Introducion*/
.introduction {
  padding: 50px 0;
}

@media (max-width: 480px) {
  .introduction {
    padding: 0;
  }
}

.intro__main-ttl {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  color: #0f4c83;
}

@media (max-width: 480px) {
  .intro__main-ttl {
    font-size: 1.3rem;
    padding: 10px 3px;
    text-align: center;
  }
}

.intro__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .intro__cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.intro__cont-txt {
  font-size: 1.8rem;
  line-height: 2.5;
  padding: 1em 2em;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

@media (max-width: 480px) {
  .intro__cont-txt {
    font-size: 1rem;
    margin: 0 0.5em;
    line-height: 2;
  }
}

.intro__mv {
  width: 100%;
  margin: 0 auto;
}

.intro__mv-inner {
  position: relative;
  padding-top: 56.25%;
}

.intro__mv-txt {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0f4c83;
  text-align: center;
  letter-spacing: 0.8em;
}

@media (max-width: 480px) {
  .intro__mv-txt {
    right: 1.5em;
    top: 8px;
    font-size: 1rem;
  }
}

.intro__mv iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*career*/
@media (max-width: 480px) {
  .career {
    height: 230vh;
  }
}

.career__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.career__cont-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .career__cont-l {
    display: none;
  }
}

.career__cont-l_txt {
  font-size: 1.9rem;
  letter-spacing: 0.8em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  color: #3594cb;
}

.career__cont-img {
  width: 100%;
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*タイムラインここから*/
.cbp_tmtimeline {
  width: 100%;
  max-width: 600px;
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  /* The line */
  /* The date/time */
  /* Right content */
  /* The triangle */
  /* The icons */
}

@media (max-width: 480px) {
  .cbp_tmtimeline {
    margin: 0 50px;
  }
}

.cbp_tmtimeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px;
}

.cbp_tmtimeline > li {
  position: relative;
}

.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
  text-align: left;
  margin-right: 50px;
  font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 1em;
  color: #abc3d1;
  margin-right: 50px;
  font-weight: bold;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
  font-weight: bold;
  margin-right: 55px;
}

.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #3594cb;
  color: #fff;
  padding: 1em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
  margin-top: 0px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: "ecoico";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px #afdcf8;
          box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }
  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    opacity: 0;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}

/*timeline*/
/*skill*/
.skill {
  /*共通パート*/
  /*プログラミングパート*/
  /*Marketing Part*/
  /*blog part*/
}

.skill__container {
  background: #f4f4f4;
  z-index: -999;
}

.skill__item {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .skill__item {
    height: unset;
    display: block;
  }
}

.skill__name {
  text-align: center;
  width: 61vw;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
}

.skill__name p {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
}

.skill__item-pro {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.skill__name-pro {
  background-image: url(../img/skill/mainimg/programming.jpg);
  -webkit-clip-path: polygon(18% 0%, 70% 0, 100% 0, 100% 100%, 40% 100%, 70% 100%, 0 100%);
          clip-path: polygon(18% 0%, 70% 0, 100% 0, 100% 100%, 40% 100%, 70% 100%, 0 100%);
}

@media (max-width: 480px) {
  .skill__name-pro {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.skill__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 480px) {
  .skill__list {
    width: 100%;
  }
}

.skill__txt {
  padding-bottom: 10px;
}

.skill__pro-btn {
  color: #fff;
  background-color: #1b95e0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 6px #0f4c83;
          box-shadow: 0px 2px 6px #0f4c83;
}

@media (max-width: 480px) {
  .skill__pro-btn {
    font-size: 1.5rem;
    z-index: 2;
  }
}

.skill__pro-btn:hover {
  color: #20a1f1;
  background: #ffffff;
  border: 1px solid #20a1f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skill__name-market {
  opacity: 0.7;
  background-image: url(../img/skill/mainimg/marketing.jpg);
  -webkit-clip-path: polygon(0 0, 30% 0, 82% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%);
          clip-path: polygon(0 0, 30% 0, 82% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%);
}

@media (max-width: 480px) {
  .skill__name-market {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.skill__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill__market-item {
  padding: 0 10px;
}

.skill__market-item img {
  width: 9vw;
}

.skill__name-blog {
  background-image: url(../img/skill/mainimg/blog.jpg);
  -webkit-clip-path: polygon(18% 0%, 70% 0, 100% 0, 100% 100%, 40% 100%, 70% 100%, 0 100%);
          clip-path: polygon(18% 0%, 70% 0, 100% 0, 100% 100%, 40% 100%, 70% 100%, 0 100%);
}

@media (max-width: 480px) {
  .skill__name-blog {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.skill__item-blog {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.skill__blog-link {
  color: #1b95e0;
  position: relative;
}

.skill__blog-link:hover + .skill__fukidashi {
  display: block;
}

.skill__fukidashi {
  display: none;
  position: absolute;
  border-radius: 5px;
  color: #fff;
  background-color: #1b95e0;
  top: 0;
  left: 250px;
  padding: 16px;
  font-weight: bold;
  width: 200px;
}

.skill__fukidashi::after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #1b95e0;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.skill__blog-btn {
  color: #fff;
  background-color: #1b95e0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 6px #0f4c83;
          box-shadow: 0px 2px 6px #0f4c83;
}

@media (max-width: 480px) {
  .skill__blog-btn {
    font-size: 1.5rem;
  }
}

.skill__blog-btn:hover {
  color: #20a1f1;
  background: #ffffff;
  border: 1px solid #20a1f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*works*/
.works__item {
  position: relative;
  width: 50vw;
  margin: 0 auto;
  overflow: hidden;
}

.works__item_txt {
  width: 50%;
  padding-right: 20px;
}

.works__item_txt li {
  padding: 10px 0;
}

.works__item img {
  width: 50vw;
  margin: 0 auto;
}

.works__mask {
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.works__mask:hover {
  opacity: 1;
}

.works__caption {
  height: 100%;
  color: #fff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__caption-ttl {
  font-size: 5rem;
}

@media (max-width: 480px) {
  .works__caption-ttl {
    font-size: 2rem;
  }
}

.works__caption-txt {
  font-size: 2rem;
}

@media (max-width: 480px) {
  .works__caption-txt {
    font-size: 0.8rem;
  }
}

/*subskill*/
.subskill__cont {
  background: #1b95e0;
  color: #fff;
}

@media (max-width: 480px) {
  .subskill__cont {
    width: 100%;
  }
}

.subskill__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 30px 0;
}

@media (max-width: 480px) {
  .subskill__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 1rem;
    padding: 15px 0;
    text-align: center;
  }
}

.subskill__item {
  text-align: center;
}

.subskill__item span {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .subskill__item span {
    font-size: 1.5rem;
  }
}

.subskill__item img {
  width: 100%;
  max-width: 150px;
}

/*Q&A*/
.question {
  background: #f4f4f4;
}

.question__cp-qa *,
.question__cp-qa *:after,
.question__cp-qa *:before {
  font-family: "FontAwesome", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .question__cp-qa {
    margin: 0 12px;
  }
}

.question dl {
  margin: 0 auto;
}

@media (max-width: 480px) {
  .question dl {
    width: 100%;
    margin: 0 10px;
  }
}

.question__cp-qa dt {
  position: relative;
  margin: 0 0 1.5em 0;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .question__cp-qa dt {
    font-size: 1rem;
  }
}

.question__cp-qa dd {
  position: relative;
  margin: 0 0 2em 0;
  padding: 0 0 1.5em 2em;
  font-size: 1.7rem;
  border-bottom: 1px dotted #23a1f0;
}

@media (max-width: 480px) {
  .question__cp-qa dd {
    font-size: 1rem;
    padding: 0 0 1.5em 0;
  }
}

.question__cp-qa dt::before,
.question__cp-qa dd::before {
  font-size: 1em;
  margin: 0 0.5em 0 0;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.2em;
}

.question__cp-qa dt::before {
  padding: 0.05em 0.22em;
  content: "Q";
  background: #8bd157;
}

.question__cp-qa dd::before {
  padding: 0.08em 0.27em;
  content: "A";
  background: #23a1f0;
}

.question__cp-qa dt::after,
.question__cp-qa dd::after {
  position: absolute;
  top: 0.7em;
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  border-width: 5px 0 5px 5px;
  border-style: solid;
}

.question__cp-qa dt::after {
  left: 1.5em;
  border-color: transparent transparent transparent #8bd157;
}

.question__cp-qa dd::after {
  left: 3.5em;
  border-color: transparent transparent transparent #23a1f0;
}

@media (max-width: 480px) {
  .question__cp-qa dd::after {
    left: 1.4em;
  }
}

/*form*/
.form__cont {
  width: 60vw;
  margin: 0 auto;
}

.form__cont-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__cont-img::before, .form__cont-img::after {
  content: "";
  position: absolute;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 200px;
  height: 50px;
  background-color: #fff;
  z-index: 1;
}

.form__cont-img::before {
  top: -20px;
  left: 170px;
  border-bottom: 1px solid #aaa;
}

.form__cont-img::after {
  bottom: -20px;
  right: 170px;
  border-top: 1px solid #aaa;
}

.form__cont-img img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.form__cont-btn_interview {
  padding-top: 15px;
  margin-bottom: 50px;
  border: 10px dashed #0f4c83;
}

@media (max-width: 480px) {
  .form__cont-btn_interview {
    margin: 0 10px;
  }
}

.form__cont-btn_interview-txt {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .form__cont-btn_interview-txt {
    font-size: 1rem;
  }
}

.form__cont-btn {
  font-weight: bold;
}

.form__cont-btn_interview-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.interview__icon-mail button,
.interview__icon-line button {
  font-size: 1.5rem;
}

.interview__icon-mail:hover,
.interview__icon-line:hover {
  opacity: 0.7;
}

.interview__icon-line {
  margin-left: 12%;
}

.interview__icon-line button {
  line-height: 1.8;
}

.interview__icon-line img {
  display: block;
  width: 100%;
  max-width: 200px;
}

@media (max-width: 480px) {
  .interview__icon-line img {
    max-width: 140px;
  }
}

i.fa-envelope {
  display: block;
}

.icon-size {
  font-size: 6rem;
}

@media (max-width: 480px) {
  .icon-size {
    font-size: 4rem;
  }
}

.twitter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.twitter__follow-btn {
  color: #fff;
  background-color: #1b95e0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  display: inline-block;
  line-height: 2;
  padding: 1px 8px 1px 6px;
}

@media (max-width: 480px) {
  .twitter__follow-btn {
    display: none;
  }
}

/*footer*/
.footer {
  text-align: center;
}

.article__ttl {
  font-size: 3rem;
}

.article__inner {
  padding: 60px 0;
  text-align: center;
}

.article__heading img {
  width: 75vw;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.article__container {
  width: 50vw;
  margin: 0 auto;
  font-weight: bold;
  text-align: left;
}

.article__space {
  height: 1px;
  background: black;
  margin-bottom: 50px;
}

.article__txt-main {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.article__container p {
  line-height: 2em;
}

.article__table {
  margin: 0 auto 50px;
  text-align: left;
  font-weight: bold;
  border-collapse: collapse;
}

.article__table tr,
.article__table td {
  border: 1px solid black;
}

.article__table td {
  padding: 10px;
}

.article__item {
  width: 40vw;
  margin: 0 auto 50px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.article__item img {
  width: 40vw;
}

.article__button {
  color: #fff;
  background-color: #1b95e0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 15px;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}

.article__button:hover {
  color: #20a1f1;
  background: #ffffff;
  border: 1px solid #20a1f1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.article__button:after {
  content: "サイトへ飛ぶ";
}

.article__button-lp:hover:after {
  content: "https://";
}

.article__button-hp:hover:after {
  content: "https://";
}

.article__button-ec:hover:after {
  content: "https://";
}

/*TOP*/
.js__scroll-fadein {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

.js__scroll-fadein.is-fadein {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------
  arrow
--------------------------------*/
.arrow {
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  background-color: #46a4da;
  border-radius: 22px;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  opacity: 0.8;
  bottom: 15px;
  color: #fff;
  border: 1px solid #ffffff;
  background: #1b95e0;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.arrow:before, .arrow:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 13px;
}

.arrow:before {
  top: 11px;
}

.arrow:after {
  top: 21px;
}
/*# sourceMappingURL=stylesheet.css.map */