@import "reset";

$lpc: 1680px; //画面広いPC
$pc: 1024px; // PC
$tab: 800px; // タブレット
$sp: 480px; // スマホ

@mixin lpc-min {
  @media screen and (min-width: ($lpc)) {
    @content;
  }
}
@mixin lpc-max {
  @media screen and (max-width: ($lpc)) {
    @content;
  }
}
@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin btn {
  color: #fff;
  background-color: #1b95e0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

@mixin btn-hover {
  color: #20a1f1;
  background: #ffffff;
  border: 1px solid #20a1f1;
  transition: 0.3s ease;
  cursor: pointer;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*文字の大きさ*/
html {
  font-size: 62.5%;
  width: 100%;
  margin: 0 auto;
}

body {
  font-size: 2rem; /* 20px*/
  line-height: 1.5;
}

h1 {
  font-size: 36px;
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429)); /* 24px~36pxで可変*/
  line-height: 1.3;
}

h2 {
  font-size: 24px;
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143)); /* 20px~24pxで可変*/
  line-height: 1.3;
}

@media (min-width: 1200px) {
  /* 1200px以上*/
  h1 {
    font-size: 3.6rem; /* 36px*/
  }
  h2 {
    font-size: 2.4rem; /* 24px*/
  }
}

@media screen and (max-width: 640px) {
  /* 640px以下*/
  body {
    line-height: 2;
  }
  h1 {
    font-size: 2.4rem; /* 24px*/
  }
  h2 {
    font-size: 2rem; /* 20px*/
  }
}

//*------------------*
//*  header
//*------------------*
.header {
  width: 100%;
  margin: 0 auto;
  padding: 1% 2vw;
  box-sizing: border-box;

  &__works {
    background: #fff;
    position: fixed;
    z-index: 100;
  }

  &__link {
    width: 90%;
    display: flex;
    justify-content: center;
    @include sp {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ttl {
    font-size: 2rem;
    color: #0f4c83;
  }

  &__ttl-sp {
    font-size: 1.5rem;
  }
}

//ナビゲーション
.nav {
  margin-left: auto;
  @include tab {
    display: none;
  }
  &__list {
    display: inline-block;
    margin-right: 1vw;
    @include sp {
      margin: 0;
    }
  }

  &__list a {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    color: #0f4c83;
    padding-bottom: 5px;
    margin-right: 20px;
    cursor: pointer;
    @include pc {
      margin-right: 10px;
    }
    @include sp {
      margin: 0;
    }
  }

  &__list a::before {
    font-size: 20px;
    line-height: 3em;
    font-weight: 600;
    border-bottom: solid 2px #46a4da;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }

  &__list a::before {
    left: 0%;
  }

  &__list a:hover::before {
    width: 100%;
  }
}

//------------ここからhamburgerメニュー----------------->
//スマホのナビゲーション(ハンバーガーメニュー)
//ハンバーガーの部分
.hamburger-btn {
  display: none;

  @include tab {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
}
.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #111;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.hamburger-btn__parts {
  &.-top {
    top: 0;
  }

  &.-middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &.-bottom {
    bottom: 0;
  }
}

//タップ後のハンバーガー
//１つ目のspanを-45度にする
.hamburger-btn.active {
  .hamburger-btn__parts {
    &.-top {
      transform: translateY(10px) rotate(-45deg);
    }

    //2つ目のspanを消す
    &.-middle {
      opacity: 0;
    }

    //3番目のspanを45度に
    &.-bottom {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

//スライドメニュー
.hamburger {
  display: none;

  @include tab {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    transition: all 0.3s;
    background-color: #fff;

    &__lists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }

    &__list {
      @include tab;
      list-style: none;
      text-align: center;
    }

    &__list + &__list {
      padding-top: 30px;
    }

    &__link {
      text-decoration: none;
      color: #0f4c83;
      font-size: 1.5rem;
      cursor: pointer;
      @include sp {
        font-size: 2rem;
      }
    }
  }
}
//activeクラスをつけたら、スライドイン
.hamburger.active {
  transform: translateX(0);
}

//------------//ここまでhamburgerメニュー------------------>

.fa-twitter:before {
  padding: 0 3px;
}

.mv {
  height: 500px;
  background: linear-gradient(to bottom, #0f4c83 95%, #fff);
  @include pc {
    height: 320px;
  }

  @include sp {
    height: 280px;
    margin-bottom: 30px;
  }

  &__inner {
    width: 85%;
    padding-top: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    @include pc {
      width: 100%;
    }
    @include sp {
      width: 100%;
    }
  }

  &__l {
    width: 33%;
    height: 500px;
    background-image: url(../img/myface/mv.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include lpc-min {
      width: 30%;
    }
    @include pc {
      width: 36%;
      height: 320px;
    }

    @include tab {
      width: 32%;
    }
    @include sp {
      width: 53%;
      height: 255px;
    }
  }

  &__l img {
    width: 100%;
    max-width: 450px;
  }

  &__r {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__twitter-btn {
    margin: 0 0 50px 50px;
    animation: SlideIn 1.5s ease forwards;
    @include sp {
      margin: 0 0 30px 50px;
    }
  }

  &__twitter-btn:hover {
    @include btn-hover;
  }

  &__txt {
    font-size: 8rem;
    animation: SlideIn 2s ease forwards;
    color: #fff;
    opacity: 0;

    @include pc {
      font-size: 6rem;
    }

    @include tab {
      font-size: 4rem;
    }

    @include sp {
      font-size: 2.5rem;
    }
  }

  &__txt01 {
    animation-delay: 1s;
  }

  &__txt02 {
    animation-delay: 2.5s;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0; /*初期状態では透明に*/
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

section {
  padding: 80px 0;
  @include pc {
    padding: 50px 0;
  }
  @include sp {
    padding: 0;
    // margin-bottom: 30px;
  }
}

.sect {
  &__inner {
    width: clamp(320px, 85vw, 1250px);
    margin: 0 auto;
    @include sp {
      width: clamp(320px, 95vw, 1250px);
    }
  }

  &__ttl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;

    @include tab {
      font-size: 4rem;
    }

    @include sp {
      font-size: 3rem;
      padding-left: 10px;
    }

    &-cont {
      display: flex;
      vertical-align: middle;
      text-align-last: left;
      padding-bottom: 50px;
      color: #0f4c83;
      @include sp {
        font-size: 1rem;
        padding-bottom: 10px;
      }
    }

    &-sub {
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 3;
      padding-left: 130px;
      position: relative;
      @include tab {
        font-size: 2.5rem;
      }
      @include sp {
        font-size: 1.5rem;
        padding: 5px 0 0 10px;
        line-height: 2.5;
      }
    }
    /*見出し横線ここから*/
    &-sub::after {
      width: 100px;
      height: 1px;
      background: #0f4c83;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 20px;
      @include sp {
        display: none;
      }
    }
    /*見出し横線ここまで*/
  }
}

/*Introducion*/
.introduction {
  padding: 50px 0;
  @include sp {
    padding: 0;
  }
}

.intro {
  &__main-ttl {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    color: #0f4c83;

    @include sp {
      font-size: 2rem;
      padding: 10px 3px;
      text-align: center;
    }
  }

  &__cont {
    display: flex;
    @include pc {
      flex-direction: column-reverse;
    }
    @include sp {
      flex-direction: column-reverse;
    }
  }
  &__cont-txt {
    font-size: 1.8rem;
    line-height: 2.5;
    padding: 1em 2em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    @include pc {
      font-size: 2rem;
      padding: 1em 0;
    }
    @include sp {
      font-size: 1.5rem;
      margin: 0 0.5em;
      line-height: 2;
    }
  }

  &__mv {
    width: 100%;
    margin: 0 auto;
  }

  &__mv-inner {
    position: relative;
    padding-top: 56.25%;
  }

  &__mv-txt {
    font-size: 1em;
    font-weight: bold;
    color: #0f4c83;
    text-align: center;
    letter-spacing: 0.5em;
    @include pc {
      font-size: 1.4em;
    }
    @include sp {
      font-size: 1.5rem;
    }
  }

  &__mv iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
/*safari崩れ対応*/
_::-webkit-full-page-media,
_:future,
:root .intro__cont-txt {
  font-weight: 600;
}

/*career*/
.career {
  &__cont {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &__cont-l {
    display: flex;
    @include pc {
      display: none;
    }

    @include sp {
      display: none;
    }
  }

  &__cont-l_txt {
    font-size: 2.6rem;
    letter-spacing: 0.7em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #3594cb;
    @include pc {
      display: none;
    }
  }

  &__cont-l img {
    width: 100%;
    max-width: 382px;
    object-fit: cover;
  }
}
/*safari崩れ対応*/
_::-webkit-full-page-media,
_:future,
:root .career__cont-l img {
  height: 1450px;
}

/*タイムラインここから*/
.cbp_tmtimeline {
  width: 100%;
  max-width: 700px;
  margin: 0 37px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  @include pc {
    margin: 0;
  }

  @include sp {
    margin: 0;
  }

  /* The line */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
  }

  & > li {
    position: relative;
  }

  /* The date/time */
  & > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
  }

  & > li .cbp_tmtime span {
    display: block;
  }

  & > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
    text-align: left;
    margin-right: 50px;
    font-weight: bold;
  }

  & > li .cbp_tmtime span:last-child {
    font-size: 1em;
    color: #abc3d1;
    margin-right: 50px;
    font-weight: bold;
  }

  & > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
    font-weight: bold;
    margin-right: 55px;
  }

  /* Right content */
  & > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
  }

  & > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
  }

  & > li .cbp_tmlabel h3 {
    margin-top: 0px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  & > li .cbp_tmlabel span {
    font-weight: bold;
  }

  /* The triangle */
  & > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
  }

  & > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
  }

  /* The icons */
  & > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: "ecoico";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
  }

  @media screen and (max-width: 47.2em) {
    &:before {
      display: none;
    }

    & > li .cbp_tmtime {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0;
    }

    & > li .cbp_tmtime span {
      text-align: left;
    }

    & > li .cbp_tmlabel {
      margin: 0 0 30px 0;
      padding: 1em;
      font-weight: 400;
      font-size: 95%;
    }

    & > li .cbp_tmlabel:after {
      right: auto;
      left: 20px;
      border-right-color: transparent;
      border-bottom-color: #3594cb;
      top: -20px;
    }

    & > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: transparent;
      border-bottom-color: #6cbfee;
    }

    & > li .cbp_tmicon {
      position: relative;
      opacity: 0;
      float: right;
      left: auto;
      margin: -55px 5px 0 0px;
    }
  }
}
/*timeline*/

/*skill*/
.skill {
  /*共通パート*/
  &__container {
    background: #f4f4f4;
    z-index: -999;
  }

  &__item {
    height: 320px;
    display: flex;
    @include pc {
      height: unset;
      display: block;
    }
    @include sp {
      height: unset;
      display: block;
    }
  }

  &__name {
    text-align: center;
    width: 61vw;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    @include center;
    font-size: 5rem;
    @include pc {
      width: 100%;
      height: 250px;
    }
  }

  &__name p {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
  }

  /*プログラミングパート*/
  &__item-pro {
    flex-direction: row-reverse;
  }

  &__name-pro {
    background-image: url(../img/skill/mainimg/programming.jpg);
    clip-path: polygon(
      18% 0%,
      70% 0,
      100% 0,
      100% 100%,
      40% 100%,
      70% 100%,
      0 100%
    );
    @include pc {
      clip-path: none;
    }
    @include sp {
      width: 100%;
      clip-path: none;
      background-position: top 70% center;
    }
  }

  &__list {
    @include center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50vw;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    @include pc {
      width: 100vw;
      padding: 1em 0;
    }
    @include sp {
      width: 100%;
      padding: 20px 0;
    }
  }

  &__ttl {
    font-size: 4rem;
    color: #0f4c83;
    @include sp {
      font-size: 2.5rem;
    }
  }

  &__txt {
    font-size: 2.5rem;
    @include tab {
      margin-bottom: 20px;
    }
    @include sp {
      font-size: 1.5rem;
    }
  }

  &__pro-btn {
    @include btn;
    padding: 10px;
    box-shadow: 0px 2px 6px #0f4c83;
    @include sp {
      font-size: 1.5rem;
      z-index: 2;
      margin-top: 15px;
    }
  }
  &__pro-btn:hover {
    @include btn-hover;
    box-shadow: none;
  }

  /*Marketing Part*/
  &__name-market {
    opacity: 0.7;
    background-image: url(../img/skill/mainimg/marketing.jpg);
    clip-path: polygon(
      0 0,
      30% 0,
      82% 0,
      100% 100%,
      70% 100%,
      30% 100%,
      0 100%
    );
    @include pc {
      clip-path: none;
    }
    @include sp {
      width: 100%;
      clip-path: none;
    }
  }
  &__img-container {
    @include center;
    flex-wrap: wrap;
    width: 45vw;
    @include pc {
      width: unset;
    }
    @include sp {
      width: unset;
    }
  }

  &__market-item {
    padding: 10px;
  }

  &__market-item img {
    width: 9vw;
    @include pc {
      width: 150px;
    }
    @include sp {
      width: 140px;
    }
  }

  &__market-item_analytics img {
    width: 12vw;
    @include pc {
      width: 200px;
    }
    @include sp {
      width: 160px;
    }
  }

  /*blog part*/
  &__name-blog {
    background-image: url(../img/skill/mainimg/blog.jpg);
    clip-path: polygon(
      18% 0%,
      70% 0,
      100% 0,
      100% 100%,
      40% 100%,
      70% 100%,
      0 100%
    );
    @include pc {
      clip-path: none;
    }
    @include sp {
      width: 100%;
      clip-path: none;
    }
  }

  &__item-blog {
    flex-direction: row-reverse;
  }

  &__blog-link {
    color: #1b95e0;
    border-bottom: 2px dashed #1b95e0;
    position: relative;
    display: inline-block;
    @include sp {
      display: inline;
    }
  }

  &__blog-link:hover {
    border: none;
    background-color: #1b95e0;
    border-radius: 5px;
    color: #fff;
    padding: 0 3px;
  }

  &__blog-link:hover + &__fukidashi {
    display: inline;

    @include sp {
      display: none;
    }
  }

  &__fukidashi {
    position: absolute;
    display: none;
    padding: 2px;
    margin-left: 15px;
    background-color: rgba(27, 149, 224, 0.5);
    border-radius: 5px;
    width: 210px;
    font-size: 80%;
  }

  &__fukidashi::after {
    border-right: 12px solid rgba(27, 149, 224, 0.5);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -12px;
    top: 5%;
    content: "";
    position: absolute;
  }

  &__blog-btn {
    @include btn;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 6px #0f4c83;
    @include sp {
      font-size: 1.5rem;
    }
  }
  &__blog-btn:hover {
    @include btn-hover;
    box-shadow: none;
  }
}

/*works*/
.works {
  &__item {
    position: relative;
    width: 50vw;
    margin: 0 auto;
    overflow: hidden;
  }

  &__item_txt {
    width: 50%;
    padding-right: 20px;
  }

  &__item_txt li {
    padding: 10px 0;
  }

  &__item img {
    width: 50vw;
    margin: 0 auto;
    @include pc {
      width: 90vw;
    }
    @include sp {
      width: 90vw;
    }
  }

  &__mask {
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 5px;
    @include pc {
      width: 90vw;
      left: 5%;
    }
    @include sp {
      width: 90vw;
      left: 5%;
      opacity: 1;
    }
  }
  &__mask:hover {
    opacity: 1;
  }

  &__caption {
    height: 100%;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sp {
      width: 80vw;
      left: 5%;
      margin: 0 auto;
    }
  }

  &__caption-ttl {
    font-size: 7rem;
    @include sp {
      font-size: 3rem;
    }
  }

  &__caption-txt {
    font-size: 3rem;
    padding: 0 55px;
    @include sp {
      display: none;
    }
  }
}

/*subskill*/
.subskill {
  &__cont {
    background: #1b95e0;
    color: #fff;
    @include sp {
      width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;

    @include sp {
      @include center;
      grid-template-columns: unset;
      font-size: 1rem;
      padding: 15px 0;
      text-align: center;
    }
  }

  &__item {
    text-align: center;
  }

  &__item span {
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
    @include sp {
      font-size: 1.5rem;
    }
  }
  &__item img {
    width: 100%;
    max-width: 150px;
    @include sp {
      width: 100px;
      padding: 0 10px;
    }
  }
}

/*Q&A*/
.question {
  background: #f4f4f4;

  &__cp-qa *,
  &__cp-qa *:after,
  &__cp-qa *:before {
    font-family: "FontAwesome", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__cp-qa {
    @include sp {
      margin: 0 12px;
    }
  }

  & dl {
    margin: 0 auto;
    @include sp {
      width: 100%;
    }
  }

  &__cp-qa dt {
    position: relative;
    margin: 0 0 1.5em 0;
    font-weight: bold;
    font-size: 2.5rem;
    @include sp {
      font-size: 1.5rem;
    }
  }

  &__cp-qa dd {
    position: relative;
    margin: 0 0 1em 0;
    padding: 0 0 1em 2em;
    font-size: 2rem;
    border-bottom: 1px dotted #23a1f0;

    @include sp {
      font-size: 1.3rem;
      padding: 0 0 1.5em 0;
    }
  }

  &__cp-qa dt::before,
  &__cp-qa dd::before {
    font-size: 1em;
    margin: 0 0.5em 0 0;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.2em;
  }

  &__cp-qa dt::before {
    padding: 0.05em 0.22em;
    content: "Q";
    background: #8bd157;
  }

  &__cp-qa dd::before {
    padding: 0 0.28em;
    content: "A";
    background: #23a1f0;
    @include sp {
      padding: 0.11em 0.2em;
    }
  }

  &__cp-qa dt::after,
  &__cp-qa dd::after {
    position: absolute;
    top: 0.6em;
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-width: 5px 0 5px 5px;
    border-style: solid;
    @include sp {
      border-width: 3px 0 3px 3px;
    }
  }

  &__cp-qa dt::after {
    left: 1.4em;
    border-color: transparent transparent transparent #8bd157;
  }

  &__cp-qa dd::after {
    left: 3.5em;
    border-color: transparent transparent transparent #23a1f0;

    @include sp {
      top: 0.7em;
      left: 1.4em;
    }
  }
}

/*form*/

// .form__cont {
//   width: 60vw;
//   margin: 0 auto;
//   @include pc {
//     width: 85vw;
//   }
//   @include sp {
//     width: 95vw;
//   }

//   &-img {
//     position: relative;
//     display: flex;
//   }

//   &-img::before,
//   &-img::after {
//     content: "";
//     position: absolute;
//     transform: rotate(-35deg);
//     width: 200px;
//     height: 50px;
//     background-color: #fff;
//     z-index: 1;
//   }

//   &-img::before {
//     top: -20px;
//     left: 170px;
//     border-bottom: 1px solid #aaa;
//   }

//   &-img::after {
//     bottom: -20px;
//     right: 170px;
//     border-top: 1px solid #aaa;
//   }

//   &-img img {
//     width: 100%;
//     max-width: 800px;
//     margin: 0 auto;
//   }

//   &-btn_interview {
//     padding-top: 15px;
//     margin-bottom: 50px;
//     border: 10px dashed #0f4c83;

//     @include sp {
//       margin: 0 10px 30px;
//     }
//   }

//   &-btn_interview-txt {
//     font-size: 3rem;
//     text-align: center;
//     margin-bottom: 50px;
//     @include sp {
//       font-size: 2.5rem;
//       margin-bottom: 20px;
//     }
//   }

//   &-btn {
//     font-weight: bold;
//   }

//   &-btn_interview-icon {
//     @include center;
//     text-align: center;
//     margin-bottom: 50px;
//     @include sp {
//       margin-bottom: 20px;
//     }
//   }
// }

// .interview__icon-mail:hover,
// .interview__icon-line:hover {
//   opacity: 0.7;
// }

// .interview__icon-mail:after {
//   content: "メールから";
//   font-size: 3rem;
//   @include sp {
//     font-size: 2rem;
//   }
// }
// .interview__icon-line:after {
//   content: "LINEから";
//   font-size: 3rem;
//   @include sp {
//     font-size: 2rem;
//   }
// }

// .interview__icon-line {
//   margin-left: 12%;
//   & button {
//     line-height: 1.8;
//   }
//   & img {
//     display: block;
//     width: 100%;
//     max-width: 200px;
//     padding: 18px 0;
//     @include sp {
//       max-width: 140px;
//       padding: 0;
//     }
//   }
// }

// i.fa-envelope {
//   display: block;
// }

// .icon-size {
//   font-size: 10rem;

//   @include sp {
//     font-size: 4rem;
//   }
// }

.twitter {
  &__btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    @include sp {
      margin: 0;
    }
  }

  &__follow-btn {
    @include btn;
    display: inline-block;
    line-height: 2;
    padding: 1px 8px 1px 6px;
    @include tab {
      font-size: 1.5rem;
    }
    @include sp {
      font-size: 1rem;
    }
  }
}

/*footer*/
.footer {
  text-align: center;
  padding-top: 10px;

  &__ttl {
    color: #0f4c83;
    font-size: 2.5rem;
    font-weight: bold;
    @include sp {
      font-size: 1.5rem;
    }
  }

  &__guideline small {
    padding: 0 10px;
    font-weight: bold;
    @include sp {
      font-size: 1rem;
    }
  }

  &__guideline small:hover {
    opacity: 0.5;
  }
}

.article {
  &__ttl {
    font-size: 4rem;
    margin-bottom: 50px;
    @include sp {
      font-size: 3rem;
    }
  }

  &__nakano {
    font-size: 2.5rem;
  }

  &__inner {
    padding: 70px 0;
    text-align: center;
    @include sp {
      padding: 70px 0 50px;
    }
  }

  &__heading {
    img {
      width: 75vw;
      margin-bottom: 50px;
      border-radius: 5px;
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
      @include sp {
        width: 95vw;
      }
    }
  }
  &__container {
    width: 50vw;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
    @include sp {
      width: 95vw;
    }
  }

  &__space {
    height: 1px;
    background: black;
    margin-bottom: 50px;
  }

  &__txt-main {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 22px 8px 22px 8px;
    margin: 2em 0;
    background-color: #fff;
    background-image: linear-gradient(
        90deg,
        rgba(237, 119, 128, 0) 0%,
        rgba(237, 119, 128, 0) 50%,
        #fff 0%,
        #fff 100%
      ),
      linear-gradient(
        180deg,
        rgba(237, 119, 128, 0) 0%,
        rgba(237, 119, 128, 0) 95%,
        #23a1f0 100%
      );
    background-size: 8px 100%, 100% 2em;
    line-height: 2;
    border: solid 2px #23a1f0;
    border-radius: 5px;

    @include sp {
      margin: 0;
    }
  }

  &__txt-main a {
    color: #23a1f0;
  }

  &__txt-ttl {
    font-size: 1.2em;
    background: #23a1f0;
    padding: 0.6em;
    margin: -22px -8px 22px -8px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.05em;
    line-height: 1.2;
  }
  &__txt-ttl p {
    padding: 0;
    margin: 0;
  }

  &__table {
    margin: 0 auto 50px;
    text-align: left;
    font-weight: bold;
    border-collapse: collapse;
    @include sp {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  &__table tr,
  &__table td {
    border: 2px solid black;
  }

  &__table td {
    padding: 10px;
    @include sp {
      padding: 5px;
    }
  }

  &__table td:nth-child(odd) {
    width: 25%;
    text-align: center;
    background: #23a1f0;
    color: #fff;
  }

  &__table td a {
    color: #23a1f0;
  }

  &__table td a:hover {
    color: black;
  }
  &__table td a {
    color: #23a1f0;
  }

  &__item {
    width: 40vw;
    margin: 0 auto 50px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    @include sp {
      width: unset;
    }
  }

  &__item img {
    width: 40vw;
    @include sp {
      width: 95vw;
    }
  }

  &__button {
    @include btn;
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
    letter-spacing: 0.1em;
    box-shadow: 0px 2px 6px #0f4c83;
  }

  &__button:hover {
    @include btn-hover;
    box-shadow: none;
  }

  &__button:after {
    content: "サイトへ飛ぶ";
  }

  &__button-lp:hover:after {
    content: "https://";
  }
  &__button-hp:hover:after {
    content: "https://nakano-company.co.jp/";
  }
  &__button-ec:hover:after {
    content: "https://takumi-0126.github.io/ecsite__example/";
  }
}

/*TOP*/
.js__scroll-fadein {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  &.is-fadein {
    visibility: visible;
    opacity: 1;
  }
}
/*slick*/
.slick {
  &-prev {
    display: none !important;
  }
  &-next {
    display: none !important;
  }
  &-dots li.slick-active button:before {
    color: #46a4da !important;
  }
}

/*arrow-*/
.arrow {
  position: fixed;
  right: 12px;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  background-color: #46a4da;
  border-radius: 22px;
  padding: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    bottom: 15px;
    color: #fff;
    border: 1px solid #ffffff;
    background: #1b95e0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }

  &:before,
  &:after {
    content: "";
    width: 12px;
    height: 12px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 13px;
  }

  &:before {
    top: 11px;
  }

  &:after {
    top: 21px;
  }
}
